{% extends 'base.html.twig' %}


        {% block stylesheets %}

            
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
        {% endblock %}
{% block body %}
<div id="flex">


<div class="containermenu" id="flexcontainermenu">
    <span style="color:white; margin-top:10px; margin-left:10px;">
    connecté sur le compte de : {{nomUtilisateur}}  </span>

    <div id="divrecherche">
        <form id="formrecherche">
           <span style="color:white"> Rechercher un client :</span>
        <input type="text" id="myInput" onkeyup="myFunction()">
        <button type="submit"><i class="fa fa-times"></i></button>
        </form>
        <center><a href='NouveauClient'  class='buttonClassVote'>Nouveau Client</a></center>


    </div>
    </div>
<div id="DivAgregation">

<table class="styled-table">
              
                <tr id="Sticky">
                    <td>Nom Client</td>
                    <td>numéro de telephone</td>
                    
                    <td>E-mail</td>
                    <td>Adresse</td>
                    <td colspan="2">Action</td>
                    


              
              <tbody id="myTable">
                {% for client in Clients %}
                    <tr><td>{{client.nomClient}}</td>
                    <td>{{client.numTel}}</td>
                    <td>{{client.email}}</td>
                    <td>{{client.Adresse}}</td>
                    <td><a class="buttonClass" href="/ClientSuppr?idClient={{client.id}}">Supprimer<a>
                    <a class="buttonClass2" href="/ClientEdit?idClient={{client.id}}">Modifier<a></td>
                    </tr>  
                    
                    
                {% endfor %}
              </tbody>

              

            </table>
</div>
<script>
function myFunction() {
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }       
  }
}
</script>
{% endblock body %}