{% extends 'base.html.twig' %}


        {% block stylesheets %}
            <style type="text/css" media="print">
            
            </style>
            <link rel="stylesheet" href="./Style.min.css">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
        {% endblock %}
{% block body %}
<div id="flex">

<script>

function myFunction(){
  html2canvas(document.getElementById('styled-table')).then(function(canvas) {
    var dataUrl = canvas.toDataURL(); //On sauvegarde la table sous forme d'image en base 64 
    var windowContent = // puis on génère une page qui affiche cette image 
    ` 
    <!DOCTYPE html>
    <html>
    <head>
    <style>
    img{
      object-fit:contain;
    }
    @page { size: landscape;
     height:297mm;
    width:210mm;
    margin:10px;
         }</style>
    <title>Print canvas</title></head>
    <body>
    <img src="` + dataUrl + `">
    </body>
    </html>
    
    `
    var printWin = window.open("","","",""); // ouvre la fenetre d'impression
    printWin.document.open();
    printWin.document.write(windowContent); // le parametre represente la page avec l'image du tableau
    printWin.document.close();
    printWin.focus();
    printWin.print();
    
});
}
//function myFunction(){

  //var printme = document.getElementById('styled-table');
  //var wme = window.open("","","width=900","height=700");
  //wme.document.write(printme.outerHTML);
  //wme.document.close();
  //wme.focus();
  //wme.print();
  

//}

</script>

<script src="https://html2canvas.hertzen.com/dist/html2canvas.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<div class="containermenu" id="flexcontainermenu">
    <span style="color:white; margin-top:10px; margin-left:10px;">
    connecté sur le compte de : {{nomUtilisateur}}  </span>

    <div id="divrecherche">
       



<center><a class="buttonClass2" id='Imprimer' onclick="myFunction()" >Imprimer la table</a></center>
<br>
<label>DATE : </label>
<form id="formDate" method="GET" action="Commandes">
<input value={{dateSelection|date("Y-m-d")}} name="Date" id="datePicker" type="date" id="start" name="trip-start">
</form>





    </div>
    </div>
<div id="DivAgregation">

<table id="styled-table" class="styled-table">
              
                <tr id="Sticky">
                    <td>facture n°</td>
                    <td>Client</td>
                    <td>Date</td>
                    <td>total Articles</td>
                   

                    {% for produit in Produits %}

                            


                   <td class="nomProduitTableau" colspan="3">{{produit.nomProduit}} </td>
                      
                    {% endfor %}

                </tr>
                <tr id="Sticky2">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              {% for produit in Produits %}

                {% for categorie in Categories %}

                    <td>{{categorie.poids}}g</td>

                {% endfor %}

              {% endfor %}
                </tr>
              
              <tbody>

                       {%  for facture in Factures %}  
                        <tr>
                            <td>{{facture.id}}</td>
                            <td>{{facture.Client.nomClient}}</td>
                            <td>{{facture.date |date('d/m/Y')}}</td>

                            <td>
                            {% set qteTotalArticles = 0 %}
                            
                            
                            {% for article in facture.Articles %}
                              {% set qteTotalArticles = qteTotalArticles + article.qte %}
                            {% endfor %}
                            {{qteTotalArticles}}
                            
                            </td>
                            
                            
                            
                            
                            
                            

                         {% for produit in Produits %}
                            {% for categorie in Categories %}<td>
                              {% for article in facture.Articles %}
                              {% if article.categorie.Poids is same as categorie.Poids %}
                              {% if article.Produit is same as produit %}
                              {{article.qte}}
                              {% endif %}
                              
                              {% endif %}
                              {% endfor %}</td>
                            {% endfor %}
                         {% endfor %}
                        </tr>
{% endfor %}  
  
                          

                                

              </tbody>

              
                <tr style="border-top:#008f72 3px solid;">
                <td></td>
                <td></td>
                <td></td>
                <td>Total produits </td>
                                         {% set i = 0 %}
                    {% for produit in Produits %}
                            {%  for facture in Factures %} 
                            
                              {% for article in facture.Articles %}
                                {% if article.Produit.nomProduit is same as(produit.nomProduit) %}
                                 {% set i = i + 1 %}
                                {% endif %}
                              {% endfor %}
                            {% endfor %}
                             {% endfor %}



                            {% for produit in Produits %}
                          
                          {% set somme = 0 %}
                              {% for facture in Factures %}
                                {% for article in facture.Articles %}
                                {% if article.produit.nomProduit is same as(produit.nomProduit) %}
                                  {% set somme = somme + article.qte %}
                                {% endif %}

                                  
                                {% endfor %}
                              {% endfor %}
 


                              {% if somme !=0 %}
                              {% endif %}

                          <td  colspan="3">



                          {% set somme2 = 0 %}
                          
                              {% for facture in Factures %}
                                {% for article in facture.Articles %}
                               
                                {% if article.produit.nomProduit is same as(produit.nomProduit)%}
                                  {% set somme2 = somme2 + article.qte %}
                                  
                                {% endif %}

                                  
                                {% endfor %}
                              {% endfor %}



                              {{somme2}}
                              
                          </td>

                            {% endfor %}
                            
                            
                </tr>
                <tr><td></td><td></td><td></td><td>kg pain par recette</td>
                
                
                {% for produit in Produits %}
                  {% set qtePainParRecette = 0 %}
                  {% for facture in Factures %} 
                  
                  {% for article in facture.Articles %}
                    {% if article.produit is same as(produit) %}
                     {% set qtePainParRecette = qtePainParRecette + article.categorie.poids * article.qte %}
                    
                    
                    {% endif %}
                    {% endfor %}
           
                  {% endfor %}
                           <td colspan="3">{{qtePainParRecette / 1000}}kg</td>
                {% endfor %}
                </tr>

              
              <tr><td colspan="3"></td><td>kg pate par recette</td>
              {% for produit in Produits %}

              {% set qtePainParRecette = 0 %}
                  {% for facture in Factures %} 
                  
                  {% for article in facture.Articles %}
                    {% if article.produit is same as(produit) %}
                     {% set qtePainParRecette = qtePainParRecette + article.categorie.poids * article.qte %}
                    
                    
                    {% endif %}
                    {% endfor %}
           
                  {% endfor %}
                <td colspan="3">{{produit.KgPateParKg * qtePainParRecette / 1000}}kg</td>
              {% endfor %}              
              
              
              </tr>
  <tr><td>Agregation des factures</td></tr>
            </table>
            
</div>
<script type="text/javascript">
$( function() {
   $('#datePicker').change(function(){
      $('#formDate').submit();
   });
});
</script>
{% endblock body %}