
{% block body %}

<link rel="stylesheet" href="./Style.min.css">
<header>
<nav id="navbar">

<ul>
<li><a  href="Accueil">Retour a l'accueil</a></li>
<script src="https://html2canvas.hertzen.com/dist/html2canvas.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>window.onload = function() {
	if(!window.location.hash) {
		window.location = window.location + '#loaded';
		window.location.reload();
	}
}</script>
  <li id="profilDD" style="float:right; cursor:pointer;"> 
  <div id="dropDownUsr">

    <a href="logout">Deconnexion</a>
  </div>
  <a>  Profil </a>
</li>
</ul>


</nav>

</header>





<form id="myform" action="Modif">
<table style="width:1000px;margin:auto;" class="styled-table">
              
                <tr  id="Sticky">
                    <td colspan="2" ></td>
                    <td colspan="4"></td>
                    
                    </tr>
              

            <tr><td colspan="4">Id commande</td><td><input readonly  name="idCommande" style="font-size:20px;" value="{{Commande.id}}"></td></tr>
            <tr><td colspan="4">Client</td><td><select name="idClient" style="font-size:20px;"> 
            {% for client in Clients %}
              <option {% if client.id == Commande.client.id %}  {{" selected "}} {% endif %} value="{{client.id}}">{{client.nomClient}} </option>
            {% endfor %}
            
            </select></td></tr>
             <tr><td colspan="4">date de livraison</td><td><input name="date" type="date" style="font-size:20px;" value="{{Commande.date |date("Y-m-d")}}"></td></tr>
            <tr  id="Sticky">
                    <td >Articles</td>
                    <td >quantité</td>
                    <td >Poids</td>
                    <td>prix</td>
                    <td colspan='2' >action</td>
                    </tr><tbody id="tbodytab">
                {% for article in Commande.articles %}

            <tr id="row"><td ><select name="produits[]" id="produitselected">
            
            {% for produitoption in Produits %}
                <option {% if article.produit.id == produitoption.id %} {{" selected "}} {% endif %} value="{{produitoption.id}}">{{produitoption.nomProduit}}  ({{produitoption.prixUnitaire}}€ / kg)</option>
                
            {% endfor %}
            </select></td> <td><input name="qte[]" type="number" value="{{article.qte}}"></td><td>
            <select name="Poids[]" id="poidsselected" >
            
            
            {% for categorie in Categories %}
            <option {% if categorie.id == article.categorie.id %} {{" selected "}} {% endif %} value="{{categorie.id}}">{{categorie.poids/1000}}kg</option>
            {% endfor %}

            </select>
            
            
            </td>
            <td>{{article.total}}€</td>
             <td><a type='button'  id='del' class='ButtonClass' >Supprimer</a></td></tr>
            {% endfor %}
            
            </tbody>
            <tr><td></td><td></td><td>prix total = <td>{{Commande.Total}}€</td><td></td><tr>
            <td ><input style="border: none;font-size:20px;" class="ButtonClass2" type="submit" value="Sauvegarder"><td></td>
            <td><a href='Facture?idCommande={{Commande.id}}' class="buttonClass2" id='Imprimer'  >facture</a></td><td colspan="2"><a  class='ButtonClass2' name="add" id="add" >Ajouter un article</a></td>
            <tr><td><a onclick="checker()" class="buttonClass" href="/CommandeSuppr?CommandeSuppr={{Commande.id}}">Supprimer Commande</a></td></tr>
            </table>
            
  
  </form>
  {% block javascript %}

  <script type="text/javascript">
    // add row
    $("#add").click(function () {
      console.log('test');
       var html = "<tr id='row'><td><select name='produits[]' id='produitselected'>{% for produitoption in Produits %}<option value='{{produitoption.id}}'>{{produitoption.nomProduit}} / ({{produitoption.prixUnitaire}}€ / kg)</option>{% endfor %}</select></td> <td><input value='1' name='qte[]' type='number'></td><td><select name='Poids[]' id='poidsselected'>{% for categorie in Categories %}<option value='{{categorie.id}}'>{{categorie.poids/1000}}kg</option>{% endfor %}</select></td><td>sauvegardez pour calculer</td><td><a type='button' onclick='jsfunction()' id='del' class='ButtonClass' >Supprimer</a></td></tr>           </tr>";
     

        $('#tbodytab').append(html);
    });
    
    $(document).on('click', '#del', function () {
      
        $(this).closest('#row').remove();
         setTimeout(function(){
        document.forms["myform"].submit();

    }, 100);

    });

    $(document).on('click', '#Imprimer', function () {
      
        console.log('debug');
    });
 function checker(){
        console.log('test');
        var result = confirm('Cette commande sera supprimé, êtes vous sur ?');
        if(result == false){
            event.preventDefault();
        }
    }

</script>





{% endblock %}


{% endblock body %}