
{% block body %}
<link rel="stylesheet" href="./Style.min.css">
<header>
<nav id="navbar">

<ul>
<li><a  href="Accueil">Retour a l'accueil</a></li>

<script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <li id="profilDD" style="float:right; cursor:pointer;"> 
  <div id="dropDownUsr">

    <a href="./Autre/Deconnexion.php">Deconnexion</a>
  </div>
  <a>  Profil </a>
</li>
</ul>


</nav>

</header>





<form action="Modif">
<table style="width:500px;margin:auto;" class="styled-table">
              
                <tr  id="Sticky">
                    <td colspan="2" >1</td>
                    <td >2</td>
                    </tr>
              

            <tr><td colspan="2">Id commande</td><td><input readonly  name="idCommande" style="font-size:20px;" value="{{Commande.id}}"></td></tr>
            <tr><td colspan="2">Nom Commanditaire</td><td><select name="idClient" style="font-size:20px;"> <option value="{{Commande.Client.id}}">{{Commande.Client.nomClient}} </option> 
            {% for client in Clients %}
              <option value="{{client.id}}">{{client.nomClient}} </option>
            {% endfor %}
            
            </select></td></tr>
             <tr><td colspan="2">date de commande</td><td><input name="date" type="date" style="font-size:20px;" value="{{Commande.date |date("Y-m-d")}}"></td></tr>
            <tr  id="Sticky">
                    <td >Articles</td>
                    <td >quantité</td>
                    <td >Poids</td>
                    </tr><tbody id="tbodytab">
                {% for article in Commande.articles %}

            <tr><td><select name="produits[]" id="produitselected">
            
            {% for produitoption in Produits %}
                <option {% if article.produit.id == produitoption.id %} {{" selected "}} {% endif %} value="{{produitoption.id}}">{{produitoption.nomProduit}}</option>
                
            {% endfor %}
            </select></td> <td><input name="qte[]" type="number" value="{{article.qte}}"></td><td>
            <select name="Poids[]" id="poidsselected" >
            <option value="{{article.categorie.id}}">{{article.categorie.poids}}g</option>
            {% for categorie in Categories %}
            <option value="{{categorie.id}}">{{categorie.poids}}g</option>
            {% endfor %}

            </select>
            
            
            </td></tr>
            {% endfor %}
            
            </tbody>
            <td><input type="button" name="add" id="add" value="Ajouter un article"></td>
            </table>
  <input type="submit" value="Sauvegarder">
  </form>
  {% block javascript %}
  <script type="text/javascript">
    // add row
    $("#add").click(function () {
      console.log('test');
       var html = "<tr><td><select name='produits[]' id='produitselected'>{% for produitoption in Produits %}<option value='{{produitoption.id}}'>{{produitoption.nomProduit}}</option>{% endfor %}</select></td> <td><input name='qte[]' type='number'></td><td><select name='Poids[]' id='poidsselected'>{% for categorie in Categories %}<option value='{{categorie.id}}'>{{categorie.poids}}g</option>{% endfor %}</select></td></tr>";
       var test = "<td>ok</td>";

        $('#tbodytab').append(html);
    });
    $(document).on('click', '#del', function () {
        $(this).closest('#row').remove();
    });


</script>
{% endblock %}
{% endblock body %}