
{% block body %}

<link rel="stylesheet" href="./Style.min.css">
<header>
<nav id="navbar">

<ul>
<li><a  href="Accueil">Retour a l'accueil</a></li>

<script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <li id="profilDD" style="float:right; cursor:pointer;"> 
  <div id="dropDownUsr">

    <a href="logout">Deconnexion</a>
  </div>
  <a>  Profil </a>
</li>
</ul>


</nav>

</header>





<form action="PasserCommande">
<table style="width:1000px;margin:auto;" class="styled-table">
              
                <tr  id="Sticky">
                    <td colspan="2" ></td>
                    <td colspan="3"></td>
                    
                    </tr>
              

             <tr><td colspan="3">Client</td><td><select name="idClient" style="font-size:20px;"> <option value=""></option> 
            {% for client in Clients %}
              <option  value="{{client.id}}">{{client.nomClient}} </option>
            {% endfor %}
            
            </select></td></tr>
             <tr><td colspan="3">date de livraison</td><td><input required="required" name="date" type="date" min={{dateDuJour|date("Y-m-d")}} style="font-size:20px;" value=""></td></tr>
            <tr  id="Sticky">
                    <td >Articles</td>
                    <td >quantité</td>
                    <td >Poids</td>
                    <td >action</td>
                    </tr><tbody id="tbodytab">
               
            
            </tbody>
            <td></td><td colspan="2"><input style="border: none;font-size:20px;" class="ButtonClass2" type="submit" value="Sauvegarder">
            <td colspan="2"><a  class='ButtonClass2' name="add" id="add" >Ajouter un article</a></td>
            
            </table>
  
  </form>
  {% block javascript %}
  <script type="text/javascript">
    // add row
    $("#add").click(function () {
      console.log('test');
       var html = "<tr id='row'><td><select  name='produits[]' id='produitselected'>{% for produitoption in Produits %}<option value='{{produitoption.id}} '>{{produitoption.nomProduit}} / ({{produitoption.prixUnitaire}}€ / kg)</option>{% endfor %}</select></td> <td><input value='1' name='qte[]' type='number'></td><td><select name='Poids[]' id='poidsselected'>{% for categorie in Categories %}<option value='{{categorie.id}}'>{{categorie.poids/1000}}kg</option>{% endfor %}</select></td><td><a type='button' onclick='jsfunction()' id='del' class='ButtonClass' >Supprimer</a></td></tr>           </tr>";
     

        $('#tbodytab').append(html);
    });
    
    $(document).on('click', '#del', function () {
      
        $(this).closest('#row').remove();
    });


</script>
{% endblock %}
{% endblock body %}